{% extends "master.html" %}

{% block title %}
  Detalles de {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}


{% block content %}
  <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
    <p>Dorsal: {{ mymember.id }}</p>
  <p>Fecha de Nacimiento: {{ mymember.birth_date }}</p>
  <p>Correo Electronico: {{ mymember.email }}</p>
  <p>Telefono: {{ mymember.phone }}</p>
  <p>Genero: {{ mymember.gender }}</p>
  <p>Miembro desde: {{ mymember.joined_date }}</p>
  
  <p>Volver a <a href="{% url 'members' %}">Miembros</a></p>

{% endblock %}